.navbar-menu{
    display: none;
}

.container-productDetail{
    width: 100%;
    min-height: 100vh;
    padding-top: 40px;
    padding-inline: 16px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.container-productDetail .details{
    line-height: 30px;
    padding-inline: 40px;
}

.detail-title{
    font-size: 2.8em;
    color: var(--gray-color);
}

.detail-price{
    font-size: 2em;
    color: var(--color-yellowDark1);
}

.section-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-btn{
    width: max-content;
}

.detail-description{
    font-size: 1.6em;
    font-weight: normal;
    text-align: justify;
}