.ProductItem{
    max-width: 240px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.ProductItem:hover{
    transform: scale(1.02);
    transition: all 0.6s ease-in-out;
}

.ProductItem img {
	max-width: 100%;
	aspect-ratio: 1;
	border-radius: 8px;
	object-fit: cover;
}

.product-info {
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	margin-top: 12px;
    line-height: 1.5;
    text-align: start;
}

.product-info__title{
    font-size: 20px;
    font-weight: 600;
    color: var(--color-yellowDark2);
}

.product-info__price{
    font-size: 16px;
}